/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript */
/* font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em; */
/* ,pre[class*=language-] */
code[class*=language-],pre[class*=language-]{
    color: #f1f1f1;background:0 0;
    /* text-shadow:0 1px rgba(0,0,0,.3); */
    font-family:'IBM Plex Mono';font-size: 15px;text-align:left;
    font-weight: 400;
    /* white-space:pre; */
    word-spacing:normal;word-break:normal;word-wrap:normal;
    line-height:1.4;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none
}
:not(pre)>code[class*=language-],pre[class*=language-]{
    background: var(--dark-grey)
}
pre[class*=language-]{
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
:not(pre)>code[class*=language-]{padding:.1em 4px;border-radius:2px;white-space:normal;margin: 0 2px}
.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#8292a2}
.token.punctuation{color: #f1f1f1;}
.token.namespace{opacity:.7}
.token.constant,.token.deleted,.token.property,.token.symbol,.token.tag{color:#FC4C3B}
.token.boolean,.token.number{color:#71CFA3}
.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#C9FE6E}
.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url,.token.variable{color: #f1f1f1;}
/* .token.atrule,.token.attr-value,.token.class-name,.token.function{color:#FFDF40} */
.token.atrule,.token.attr-value,.token.class-name,.token.function{color:#71CFA3}
/* .token.keyword{color:#BCEFFF} */
.token.keyword{color:#71CFA3}
.token.important,.token.regex{color:#FF8308}
.token.bold,.token.important{font-weight:700}
.token.italic{font-style:italic}
.token.entity{cursor:help}

pre[class*=language-] code[class*=language-] {
    font-size: 13px;
}



/* #66d9ef -> #BCEFFF */
/* #a6e22e -> #C9FE6E */
/* #f92672 -> #FC4C3B */
/* #e6db74 -> #FFDF40 */
/* #e6db74 -> #FFDF40 */
/* #fd971f -> #FF8308 */
/* #ae81ff -> #71CFA3 */
